<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dmMapper">
	
	<resultMap id="dmResultSet" type="dmRoom">
		<id column="ROOM_NO" property="roomNo" />
		<result column="ROOM_NAME" property="roomName" />
		<!-- <result column="MEMBER_PWD" property="memberPwd" />
		<result column="MEMBER_NAME" property="memberName" />
		<result column="STATUS" property="status" /> -->
	</resultMap>

	<!-- 메세지 ResultSet -->
	<resultMap id="dmMessageResultSet" type="dmMessage">
		<id column="MESSAGE_NO" property="messageNo" />
		<result column="ROOM_NO" property="roomNo" />
		<result column="SENDER_ID" property="senderId" />
		<result column="CONTENT" property="content" />
		<result column="CREATE_DATE" property="createDate" />
	</resultMap>
	
	<!-- Dm 방 조회용 쿼리 -->
	<select id="selectDmRoomList" parameterType="string" resultMap="dmResultSet">
		SELECT ROOM_NO
			 , ROOM_NAME
		  FROM TB_DM_ROOM
		 WHERE ROOM_TYPE = 'PRIVATE'
		   AND IS_DEL = 'N'
		   AND MEMBER_ID = #{userId}
	</select>

	<!-- 새로운 DM 방 생성용 쿼리 -->
	<insert id="insertRoom" parameterType="map">
		INSERT INTO TB_DM_ROOM(
						  ROOM_NO
						, ROOM_NAME
						, MEMBER_ID)
               VALUES(
						  SEQ_DM_ROOM_NO.NEXTVAL
						, #{targetUserId}
						, #{userId})
	</insert>
	
	<!-- 메세지 저장용 쿼리 -->
	<insert id="insertMessage" parameterType="map">
		INSERT  INTO TB_DM_MESSAGE(MESSAGE_NO
                        , ROOM_NO
                        , SENDER_ID
                        , CONTENT)
				VALUES(SEQ_DM_MESSAGE_NO.NEXTVAL
						, #{roomId}
						, #{senderId}
						, #{content})
	</insert>

	<!-- 메세지 조회용 쿼리 -->
	<select id="selectMessage" parameterType="map" resultMap="dmMessageResultSet">
		SELECT MESSAGE_NO
		     , ROOM_NO
		     , SENDER_ID
		     , CONTENT
		     , CREATE_DATE
		  FROM TB_DM_MESSAGE
		 WHERE ROOM_NO = #{roomId}
		   AND IS_DEL = 'N'
		 ORDER BY CREATE_DATE ASC
	</select>

</mapper>