<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="visitor">

    <insert id="insertTodayVisitor">
        INSERT INTO TB_HOME_VISITOR (VISIT_DATE, MEMBER_NO, HOME_NO)
        SELECT TRUNC(SYSDATE), #{memberNo}, #{homeNo}
        FROM dual
        WHERE NOT EXISTS (
            SELECT 1
            FROM TB_HOME_VISITOR
            WHERE MEMBER_NO = #{memberNo}
              AND HOME_NO = #{homeNo}
              AND VISIT_DATE = TRUNC(SYSDATE)
        )
    </insert>

    <select id="selectTodayCount" resultType="int">
        SELECT COUNT(*)
        FROM TB_HOME_VISITOR
        WHERE HOME_NO = #{homeNo}
          AND VISIT_DATE = TRUNC(SYSDATE)
    </select>

    <select id="selectTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM TB_HOME_VISITOR
        WHERE HOME_NO = #{homeNo}
    </select>

</mapper>
