<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<!-- 닉네임 업데이트 -->
	<update id="updateMemberNick" parameterType="member">
		UPDATE TB_MEMBER
		SET MEMBER_NICK = #{memberNick}
		WHERE MEMBER_NO = #{memberNo}
	</update>

</mapper>
